{% extends 'layout/base.html' %}

{% block title %}
    Объявления
{% endblock title %}

{% block content %}


    <p>{{ post_detail.dateCreation|date:'d-M-Y H:i' }}</p>
    <p>{{ post_detail.author }}</p>
    <p>{{ post_detail.text }}</p>

    <p>
    <form method="POST" action="" enctype="multipart/form-data" class="p-3 p-md-4 bg-light">
        {% csrf_token %}
        <label>Оставить отклик:</label>
        {{ form.text }}
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
    </p>

    {% if responses %}

        <h3>Отклики:</h3>
        <ul>
            {% for item in responses %}
                <li>{{ item.responseUser }}<br>
                    {{ item.text }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}


{% endblock content %}
