{% extends 'layout/base.html' %}


{% block title %}
    MMORPG
{% endblock title %}

{% block content %}

    <h1>Все объявления</h1>
    {% if posts %}
        <table class="table">
            <tr>
                <th scope="col">
                    Автор
                </th>
                <th scope="col">
                    Заголовок
                </th>
                <th scope="col">
                    Дата
                </th>
                <th scope="col">
                    Новость
                </th>
                <th scope="col">
                    Категория
                </th>


            </tr>
            {% for post in posts %}
                <tr>
                    <td>
                        <a href="{% url 'post_detail' post.id %}">
                            {{ post.author|safe }}
                        </a>
                    </td>
                    <td>
                        {{ post.title|safe }}
                    </td>
                    <td>
                        {{ post.dateCreation|date:"d-M-Y H:i" }}
                    </td>
                    <td>
                        {{ post.text|truncatechars:50 }}
                    </td>
                    <td>
                        {% for category in post.postCategory.all %}
                            <a href="{% url 'category' category.id %}">{{ category.name }}</a>
                            <br>
                        {% endfor %}
                    <td>
                        <a href="{% url 'post_update' post.id %}">
                            Редактировать
                        </a>
                        <a href="{% url 'post_delete' post.id %}">
                            Удалить
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <a href="{% url 'post_create' %}" class="btn btn-primary my-3">Добавить объявление</a>
        {% include 'layout/parts/paginator.html' %}
    {% else %}
        <!-- Если новостей нет, то сообщаем об этом пользователю  -->
        <h2>Новостей нет</h2>
    {% endif %}
{% endblock content %}